---
Language: Cpp
BasedOnStyle: LLVM

Standard: Latest
ColumnLimit: 120

IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
IndentCaseLabels: true
AccessModifierOffset: -4
IndentPPDirectives: None

BreakBeforeBraces: Attach
BreakBeforeCloseBracketFunction: true
BreakConstructorInitializers: BeforeColon
BreakAfterAttributes: Always
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: Align
AlignOperands: Align
BreakBeforeBinaryOperators: None
SortIncludes: false
IncludeBlocks: Preserve
FixNamespaceComments: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true
...
